In [ ]:
#리스트 => 다른 언어의 배열과 유사하다.
#리스트를 만들때는 데이터를 []로 감싸고 각각의 데이터는 ','로 구분한다.

In [3]:
#비어있는 리스트 만들기
a = []
print(a)
print(type(a))
#빈 리스트는 생성자 함수를 이용해서도 만들 수 있다.
b = list()
print(b)
print(type(b))

[]
<class 'list'>
[]
<class 'list'>

In [9]:
c = [1, 2, 3]
print(c)
print(type(c))
d = ['A', 'B', 'C']
print(d)
print(type(d))
e = [100, 200, 'A', 'B'] 
print(e)
print(type(e))
f = [100, 200, ['A', 'B']]
print(f)
print(type(f))
g = [[100, 200],['A', 'B']]
print(g)
print(type(g))

[1, 2, 3]
<class 'list'>
['A', 'B', 'C']
<class 'list'>
[100, 200, 'A', 'B']
<class 'list'>
[100, 200, ['A', 'B']]
<class 'list'>
[[100, 200], ['A', 'B']]
<class 'list'>

In [14]:
#리스트 인덱싱
a = [10, 20, 30, 40, 50]
print(a)
print(a[0])
print(a[4])
print(a[-1])

[10, 20, 30, 40, 50]
10
50
50

In [23]:
b = [10, 20, 30, ['a', 'b', 'c']]
print(b)
print(len(b))
print(b[0])
print(b[3])
print(b[-1])
print(b[3][1])
print(b[-1][-2])

[10, 20, 30, ['a', 'b', 'c']]
4
10
['a', 'b', 'c']
['a', 'b', 'c']
b
b

In [34]:
c = [10, 20, ['a', 'b', ['홍길동', '임꺽정', '장길산']]]
print(c)
print(len(c))
print(c[2])
print(len(c[2]))
print(c[2][2])
print(len(c[2][2]))
print(c[2][2][0])

[10, 20, ['a', 'b', ['홍길동', '임꺽정', '장길산']]]
3
['a', 'b', ['홍길동', '임꺽정', '장길산']]
3
['홍길동', '임꺽정', '장길산']
3
홍길동

In [38]:
#리스트 슬라이싱
a = [10, 20, 30, 40, 50]
print(a)
print(a[0]) #인덱싱을 사용하면 인덱싱 결과를 상수로 얻어온다.
print(type(a[0])) #<class 'int'>
print(a[0:1]) #슬라이싱을 사용하면 슬라이싱 결과를 리스트로 얻어온다.
print(type(a[0:1])) #<class 'list'>
print(a[1:4])
print(a[0:3])
print(a[:3])
print(a[2:5])
print(a[2:])
print(a[:])
print(a[::2])
print(a[::-1])

[10, 20, 30, 40, 50]
10
<class 'int'>
[10]
<class 'list'>
[20, 30, 40]
[10, 20, 30]
[10, 20, 30]
[30, 40, 50]
[30, 40, 50]
[10, 20, 30, 40, 50]
[10, 30, 50]
[50, 40, 30, 20, 10]

In [40]:
#리스트 연산자
#'+' 연산자는 두 개의 리스트를 연결한다.
print([1, 2, 3] + [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [42]:
#'*' 연산자는 리스트를 지정한 횟수 만큼 반복한다.
print([1, 2, 3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
#인덱싱과 슬라이싱을 이용한 리스트의 수정 및 삭제
#리스트를 인덱싱을 사용해 수정하려면 상수를 넣어야 하고 슬라이싱을 사용해서 수정하려면 리스트를 넣어야 한다.
a = [10, 20, 30]
print(a)
a[0] = 40
print(a)
#a[1:2] = 99 #슬라이싱 결과는 리스트이기 때문에 상수를 넣을 수 없다는 에러가 발생된다.
a[1:2] = [99]
print(a)
#리스트를 인덱싱을 사용해서 수정할 때 리스트를 넣어주면 리스트 자체로 수정된다.
a[2] = [111]
print(a)
#인덱싱 방식은 del 명령으로 데이터를 삭제한다.
del a[2]
print(a)
#슬라이싱 방식은 빈 리스트를 넣어주면 데이터가 삭제되는 것처럼 보인다.
a[1:2] = []
print(a)

[10, 20, 30]
[40, 20, 30]
[40, 99, 30]
[40, 99, [111]]
[40, 99]
[40]

In [51]:
#del 명령 뒤에 리스트 이름만 쓰면 리스트 자체가 삭제된다.
del a
print(a)

NameError: name 'a' is not defined

In [1]:
#append() 메소드는 리스트의 맨 뒤에 인수로 지정된 데이터를 추가한다.
a = [10, 20, 30]
print(a)
a.append(100)
print(a)

[10, 20, 30]
[10, 20, 30, 100]

In [2]:
#insert() 메소드는 리스트의 지정된 index 위치에 인수로 지정된 데이터를 삽입한다.
a = [10, 20, 30]
print(a)
a.insert(1, 100)
print(a)

[10, 20, 30]
[10, 100, 20, 30]

In [6]:
#sort() 메소드는 리스트에 저장된 데이터를 오름차순(한글은 가나다, 영문은 abc 순)으로 정렬한다.
a = [8, 3, 4, 9, 1]
print(a)
a.sort()
print(a)

b = ['d', 'b', 'c', 'a']
print(b)
b.sort()
print(b)

c = ['홍길동', '임꺽정', '장길산', '일지매']
print(c)
c.sort()
print(c)

[8, 3, 4, 9, 1]
[1, 3, 4, 8, 9]
['d', 'b', 'c', 'a']
['a', 'b', 'c', 'd']
['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '임꺽정', '장길산', '홍길동']

In [7]:
#sort() 메소드 reverse = True 지정하면 내림차순으로 정렬할 수 있다.
a = [8, 3, 4, 9, 1]
print(a)
a.sort(reverse=True)
print(a)

b = ['d', 'b', 'c', 'a']
print(b)
b.sort(reverse=True)
print(b)

c = ['홍길동', '임꺽정', '장길산', '일지매']
print(c)
c.sort(reverse=True)
print(c)

[8, 3, 4, 9, 1]
[9, 8, 4, 3, 1]
['d', 'b', 'c', 'a']
['d', 'c', 'b', 'a']
['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '장길산', '임꺽정', '일지매']

In [9]:
#sort() 메소드는 sort() 메소드를 실행하려는 리스트에 같은 타입의 데이터가 저장되어있을 경우에만 정상적으로 실행된다.
a = [100, '010', 55, '12345']
print(a)
#a.sort() #에러

[100, '010', 55, '12345']

In [10]:
#reverse() 메소드는 리스트에 저장된 데이터의 순서를 뒤집는다.
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
a.reverse()
print(a)

['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '장길산', '임꺽정', '홍길동']

In [12]:
#count() 메소드는 인수로 지정된 데이터가 리스트에 포함되어있는 개수를 얻어온다.
a = [1, 2, 3, 4, 3, 5, 3]
print(a)
print(a.count(3))
print(a.count(6))

[1, 2, 3, 4, 3, 5, 3]
3
0

In [13]:
#index() 메소드는 인수로 지정된 데이터가 리스트에 최초로 출현하는 위치를 얻어온다.
a = [1, 2, 3, 4, 3, 5, 3]
print(a)
print(a.index(3))
print(a.index(6)) #인수로 지정한 데이터가 리스트에 없을 경우 에러가 발생된다.

[1, 2, 3, 4, 3, 5, 3]
2

ValueError: 6 is not in list

In [17]:
#remove() 메소드는 인수로 지정된 데이터를 리스트에서 제거한다. => 데이터가 여러개일 경우 첫 번째 데이터만 제거된다.
a = [1, 2, 3, 4, 3, 5, 3]
print(a)
a.remove(3)
print(a)
a.remove(3)
print(a)
a.remove(3)
print(a)
a.remove(3) #삭제하려는 데이터가 리스트에 없으면 에러가 발생된다.
print(a)

[1, 2, 3, 4, 3, 5, 3]
[1, 2, 4, 3, 5, 3]
[1, 2, 4, 5, 3]
[1, 2, 4, 5]

ValueError: list.remove(x): x not in list

In [25]:
#pop() 메소드는 리스트의 마지막 데이터를 얻어온 후 리스트에서 제거한다.
#ctrl 누른 뒤 선택하면 일괄 처리가 가능하다.
a = [1, 2, 3, 4, 3, 5, 3]
print(a)
result = a.pop()
print(result, a)
a.pop()
print(a)
a.pop()
print(a)
result = a.pop(1) #pop() 메소드의 인수로 index를 지정하면 지정된 index 위치의 데이터를 얻어온 후 제거한다. 
print(result, a)

[1, 2, 3, 4, 3, 5, 3]
3 [1, 2, 3, 4, 3, 5]
[1, 2, 3, 4, 3]
[1, 2, 3, 4]
2 [1, 3, 4]